version: '2'
services:
  web:
    image: docker.voloshanenko.com/tabletki_orders_checker
    restart: unless-stopped
    environment:
    - TELEGRAM_CHAT_ID=${TELEGRAM_CHAT_ID}
    - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
    - TABLETKIUA_SN=${TABLETKIUA_SN}
    - TABLETKIUA_API_USERNAME=${TABLETKIUA_API_USERNAME}
    - TABLETKIUA_API_PASSWORD=${TABLETKIUA_API_PASSWORD}
    - VIRTUAL_HOST=${VIRTUAL_HOST}
    - VIRTUAL_PORT=${VIRTUAL_PORT}
    - LETSENCRYPT_HOST=${LETSENCRYPT_HOST}
    - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}
    - PYTHONUNBUFFERED=1
    networks:
      - webproxy

networks:
  webproxy:
    external:
      name: webproxy
